<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>CSI Dashboard</title>
 
    <!-- Stylesheets for Hamburger and icons  -->
    <link rel="stylesheet" href="../vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../vendors/simple-line-icons/css/simple-line-icons.css">
   <!-- Stylesheets for Hamburger and icons ends  -->

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <link href="https://cdn.datatables.net/1.12.0/css/dataTables.bootstrap5.min.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <script src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>


  <!-- inject:css -->
  <link rel="stylesheet" href="../css/vertical-layout-light/style.css">
  <script src="https://cdn.datatables.net/1.12.0/js/dataTables.bootstrap5.min.js"></script>
  <script src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>
  <!-- endinject -->
  <link rel="shortcut icon" href="../images/csi.png" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

  

</head>
<body>
  <div class="container-scroller">
    <div class="row p-0 m-0 proBanner" id="proBanner">
      <div class="col-md-12 p-0 m-0">
      
      </div>
    </div>
<!-- horizontal nav bar starts -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row" style="padding-top: 0px;margin-top: 0px;">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start" style="border-radius: 0px 50px 50px 0px;border: solid 1px;">
        <div class="me-3">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
            <span class="icon-menu"></span>
          </button>
        </div>
        <div>
          <a class="navbar-brand brand-logo" href="index.html">

            <span>HOD</span>
          </a>
          <a class="navbar-brand brand-logo-mini" href="index.html">
            <img src="../images/csi.png" alt="logo" />
          </a>
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-top"> 
        <ul class="navbar-nav">
          <li class="nav-item font-weight-semibold d-none d-lg-block ms-0">
            <h1 class="welcome-text">Welcome Back, <span class="text-black fw-bold">Prasad Padalkar</span></h1>
            <h3 class="welcome-sub-text">This is CSI admin dashboard</h3>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
    
          <li class="nav-item">
            <form class="search-form" action="#">
              <input type="search" class="form-control" placeholder="Search Here" title="Search here">
            </form>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator" id="notificationDropdown" href="#" data-bs-toggle="dropdown">
            </a>
            
          </li>
          <li class="nav-item dropdown d-none d-lg-block user-dropdown">
            <a class="nav-link" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-user-tie" style="border: black;"></i>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
              <div class="dropdown-header text-center">
                <i class="fa-solid fa-user-tie"></i>
                <p class="mb-1 mt-3 font-weight-semibold">Prasad Padalkar</p>
                <p class="fw-light text-muted mb-0">prasadpadalkar@dbit.in</p>
              </div>
              <a href="/logout" class="dropdown-item"><i class="dropdown-item-icon mdi mdi-power text-primary me-2"></i>Sign Out</a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-bs-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
      <!-- horizontal nav bar ends -->
    <!--complete vertical bar and main panel starts-->
    <div class="container-fluid page-body-wrapper">
       <!--vertical nav bar starts-->      
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="../index.html">
              <i class="mdi mdi-view-dashboard menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item nav-category">CSI : Events</li>
          <li class="nav-item">
            <a class="nav-link" href="https://csi-management-webapp.herokuapp.com/proposalData">
              <i class="menu-icon mdi mdi-calendar-month"></i>
              <span class="menu-title">Event Proposals</span>
            </a>
          </li>

          <li class="nav-item nav-category">CSI : Feedback</li>
          <li class="nav-item">
            <a class="nav-link" href="https://csi-management-webapp.herokuapp.com/feedbackData">
              <i class="menu-icon mdi mdi-square-edit-outline"></i>
              <span class="menu-title">Event Feedbacks</span>
            </a>
          </li>

          <li class="nav-item nav-category">CSI : Minutes of meet</li>
          <li class="nav-item">
            <a class="nav-link" href="https://csi-management-webapp.herokuapp.com/minuteData">
              <i class="menu-icon mdi mdi-clock"></i>
              <span class="menu-title">Minutes</span>
            </a>
          </li>
          
          
          <li class="nav-item nav-category">CSI : Requirements</li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <i class="menu-icon mdi mdi-account-circle-outline"></i>
              <span class="menu-title">Requirements</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="https://csi-management-webapp.herokuapp.com/techData"> Technical </a></li>
              </ul>
            </div>
            <div class="collapse" id="auth">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="https://csi-management-webapp.herokuapp.com/publicityData"> Publicity </a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item nav-category">Back to login</li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">
              <i class="menu-icon mdi mdi-file-document"></i>
              <span class="menu-title">Logout</span>
            </a>
          </li>
        </ul>
      </nav>
 <!--vertical nav bar ends-->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-sm-12">
              <div class="home-tab">
                <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                  
                </div>
                <div class="tab-content tab-content-basic">
                  <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview"> 
                    <div class="row" style="width: 2500px ;">
                      <div class="col-lg-8 d-flex flex-column">
                        <div class="row flex-grow">
                          <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card col-sm-6">
<!-- Publicity table header and table body structure -->
                            <div class="container">
                                <!-- <h1 class="mt-4 mb-4 text-center text-primary"><b><%= title %></b></h1> -->
                    
                                <span id="message"></span>
                                <div class="card">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col col-sm-9">Publicity Requirements for CSI activities</div>
                                            
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered" id="tech_data">
                                                <thead>
                                                    <tr>
                                                        <th>Money Collected (₹)</th>
                                                        <th>Money Spent (₹)</th>
                                                        <th>Desk</th>
                                                        <th>Target</th>
                                                        <th>Comment</th>
                                                        <th>Status</th> 
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Event proposal table header and table body structure ends-->
                        </body>
                    </html>
                    
                    <script>
                    // Script for complete table fetch from mysql starts
                    $(document).ready(function(){
                    
                        load_data();
                    
                        function load_data()
                        {
                            $.ajax({
                                url:"https://csi-management-webapp.herokuapp.com/publicityall",
                                method:"GET",
                     //           data:{action:'fetch'},
                                dataType : "JSON",
                                success:function(data)
                                {
                                //    console.log(data);
                                    var html = '';
                                    var status_message = '';
                    
                                    if(data.data.length > 0)
                                    {
                                      //  console.log(data.data.length);
                                        for(var count = 0; count < data.data.length; count++)
                                        {
                                          
                                        if(data.data[count].status == 3){
                                                          status_message="Checked";
                                                          color_type ='chartreuse';
                                                        }
                                                        else{
                                                          status_message="Not Checked";
                                                          color_type = 'yellow';
                                                        }
                                            html += `
                                            <tr>
                                                <td>`+data.data[count].collected+`</td>
                                                <td>`+data.data[count].spent+`</td>
                                                <td>`+data.data[count].desk+`</td>
                                                <td>`+data.data[count].target+`</td>
                                                <td>`+data.data[count].comment+`</td>
                                                <td style="background-color:`+color_type+`">`+status_message+`</td>
                                            </tr>
                                            `;
                                        }
                                    }
                    
                                    $('tbody').html(html);
                                },
                        error: function(XMLHttpRequest, textStatus, errorThrown) { 
                            console.log("inside AJAX function: Err");
                            alert("Status: " + textStatus); alert("Error: " + errorThrown); 
                        }
                            });
                        }
                    
                    });
                    
                    </script>         
                              </div>
                            </div>
                          </div>
                        </div>
                      </div> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- main-panel ends -->

      <!-- Footer starts  -->
      <footer id="sticky-footer" class="flex-shrink-0 py-4" style="
      background-color: #afafaf;
  ">
        <div class="container text-center">
          <small>CSI Admin Dashboard</small>
        </div>
      </footer>
      <!-- Footer ends  -->

    </div>
  </div>


  <!-- plugins:js -->
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"></script>    
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- End plugin js for this page -->
 

   <!-- Scripts for Hamburger and dropdown  -->
   <script src="../js/off-canvas.js"></script>
   <script src="../js/hoverable-collapse.js"></script>
   <script src="../js/template.js"></script>
    <!-- Scripts for Hamburger and dropdown ends -->

  <!-- Script for Dashboard-->
  <script src="../js/dashboard.js"></script>
  <!-- Script for Dashboard ends -->
</body>
</html>